/**
 * Retrieves color from "colors" map
 *
 * @param  {String} $color_name Color key
 * @return {Null|Color}
 */
/**
 * Retrieves font from "fonts" map
 *
 * @param  {String} $font_name Font key
 * @return {Null|String}
 */
/**
 * Sets background image
 *
 * @param {String} $path_to_bg - path to background image
 * @param {String} $bg_settings = "" - properties that can be added to bg,
 *     for instance: "center center no-repeat"
 * @param {Boolean} $is_default = true - if it's true than it's assumed that path
 *     to images folder starts from exit of current folder
 * @param {Color} $default_color = transparent - bg color under bg img
 */
/* For portrait orientation of mobile devices */
/* Adjusting font sizes */
@media screen and (max-aspect-ratio: 1000 / 1200) {
  /* Styling of common UI */
  .page-body {
    font-size: 2.1vmax; }
  /* Headers */
  .h1, h1 {
    font-size: 8.5vmax; }
  .h2, h2 {
    font-size: 7vmax; }
  .h3, h3 {
    font-size: 5.5vmax; }
  .h4, h4 {
    font-size: 4.5vmax; }
  .h5, h5 {
    font-size: 3.5vmax; }
  .h6, h6 {
    font-size: 2.1vmax; }
  /* font size and transformations */
  .text_small-sz {
    font-size: 1.9vmax; }
  .text_default-sz {
    font-size: 2.1vmax; }
  .text_medium-sz {
    font-size: 2.6vmax; }
  .text_big-sz {
    font-size: 3.1vmax; }
  .text_super-big-sz {
    font-size: 3.5vmax; }
  /* Fields, inputs */
  .field {
    font-size: 2.1vmax; }
  /* Buttons, labels */
  .btn {
    font-size: 2.1vmax; }
  /* Messagies */
  .validation-message {
    font-size: 1.7vmax; } }

/* For tablets and horizontal orientation of mobile devices */
/* Adjusting font sizes */
@media screen and (min-aspect-ratio: 1000 / 650) and (max-width: 900px) {
  /* Styling of common UI */
  .page-body {
    font-size: 2.1vmax; }
  /* Headers */
  .h1, h1 {
    font-size: 8.5vmax; }
  .h2, h2 {
    font-size: 7vmax; }
  .h3, h3 {
    font-size: 5.5vmax; }
  .h4, h4 {
    font-size: 4.5vmax; }
  .h5, h5 {
    font-size: 3.5vmax; }
  .h6, h6 {
    font-size: 2.1vmax; }
  /* font size and transformations */
  .text_small-sz {
    font-size: 1.9vmax; }
  .text_default-sz {
    font-size: 2.1vmax; }
  .text_medium-sz {
    font-size: 2.6vmax; }
  .text_big-sz {
    font-size: 3.1vmax; }
  .text_super-big-sz {
    font-size: 3.5vmax; }
  /* Fields, inputs */
  .field {
    font-size: 2.1vmax; }
  /* Buttons, labels */
  .btn {
    font-size: 2.1vmax; }
  /* Messagies */
  .validation-message {
    font-size: 1.7vmax; } }
